.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### IntelliJ IDEA ###
.idea/*

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.idea/

### JTE ###
/jte-classes/
/jte/jte/
/jte/jte-classes/
/jte-kotlin/jte-classes/
/jte-watcher/jte-classes/
/test/jte-runtime-test/jte-classes/
/test/jte-runtime-test-kotlin/jte-classes/
/test/jte-runtime-test-gradle/jte-classes/
/test/jte-runtime-test-gradle-convention/jte-classes/
/test/jte-runtime-test-gradle-kotlin-convention/jte-classes/
/test/jte-hotreload-test/jte-classes/
/test/kte-runtime-test-gradle-kotlin-convention/jte-classes/
